.mainPageBody {
    padding: 10%;
    list-style: none;

}

.mainPageHeader {
    display: flex;
    flex-direction: column;
}

.mainPageInfo {
    display: flex;
    flex-direction: column;
    
}

.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.header {
    text-align: center;
    font-size: 60px;
}

.padding {
    padding: 4%;
}

.bodyCntr {
    /* background-color: rgb(255, 251, 200); */
    background-color: var(--bg-color);
    transition: var(--default-transition);
}

.main {
    background-color: var(--body-color);
    box-shadow: inset 10px 10px 10px transparent;
    box-shadow: inset 5px 5px 5px var(--bg-shadow), inset -5px -5px 5px var(--bg-shadow);
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: 0.8s;
}

.roundedSvg {
    border-radius: 50%;
}

/*This is the CSS for the Lobster font used on buttons and pages*/
.lobster-regular {

    font-family: "Lobster", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 1.2;
    /* color: #422800; */
    color: var(--pageFont-color);

}

.facePhoto {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 10px;
    margin-top: 30px;
}

/*This is the CSS for the Playfair Display font used on the paragraph*/
.paragraph {
    text-decoration: none;
    font-family: 'Playfair Display';
    font-size: 22px;
    text-align: center;
}