.mainPageBody {
    padding: 10px;
    width: 100%;

}

.mainPageHeader {
    display: flex;
    flex-direction: column;
}

.mainPageInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
}

.header {
    text-align: center;
    font-size: 60px;
}

.padding {
    padding: 15px;
}

.bodyCntr {
    background-color: rgb(255, 251, 200);
}

.main {
    background-color: rgb(245, 207, 213);
    box-shadow: inset 10px 10px 10px transparent;
    box-shadow: inset 5px 5px 5px #42270066, inset -5px -5px 5px #42270066;
    display: flex;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;


}

/* I am adding a new navbar here, to change the look if the site to make it more modern and simplistic*/



/* Im using @media here to make my navigation bar that is grey,
 only shrink to a specific size untill the screen is 500px or less */
@media screen and (max-width: 500px) {
    .mainNav {}
}



/* @media will assist with the compatibility on molibe devices, laptops and tablets */
@media (min-width: 768px) {
    .button-74 {
        min-width: 120px;
        padding: 0 25px;
    }
}

.roundedSvg {
    border-radius: 50%;
}

.name {
    font-size: 30px;
    letter-spacing: -3;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: center;
}

/*This is the CSS for the Lobster font used on buttons and pages*/
.lobster-regular {

    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 1.2;
    color: #422800;
}

.facePhoto {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 10px;
    margin-top: 30px;
}

.paragraph {
    text-decoration: none;
    font-family: 'Playfair Display';font-size: 22px;
    text-align: center;
}