.mainNav {

    background-color: var(--mainNav-color);
    display: flex;
    justify-content: flex-end;
    box-shadow: inset 5px 5px 5px var(--bg-shadow), inset -5px -5px 5px var(--bg-shadow);
    /*used https://hslpicker.com/ to soften the colour of the shadow (Very cool website)*/
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    position: relative;
    /* This makes the dark mode toggle button display inside of the navbar */

}

.navButtons {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;

}


.button {
    background-color: var(--button-bg);
    border: 2px solid var(--button-border);
    border-radius: 30px;
    box-shadow: var(--button-shadow) 4px 4px 0 0;
    color: var(--button-bg);
    cursor: pointer;
    padding: 4px 10px;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-right: 5px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    /* this -select controls the look of the button*/
    user-select: none;
    /* this -select that follows specifies whether the text of an element can be selected or not*/
    -webkit-user-select: none;
    touch-action: manipulation;

}

.button_img {
    position: relative;
    text-decoration: none;

}

.button:hover {
    background-color: var(--button-hover);
    transition: background-color 0.7s ease-in;

}

.button:active {
    box-shadow: var(--button-shadow) 2px 2px 0 0;
    transform: translate(2px, 2px);
    -webkit-transition: background-color 2s ease-in;
    /* to support Safari */
    transition: background-color 1s ease-in;

}

.button svg {
    height: 65px;
    margin: auto;
    
}
