.navBar {

    display: flex;
    flex-direction: row;
    background-color: #d4c1c1;
    text-align: right; /* Finally found this. This will align the text to the right of the page*/
    box-shadow: inset 5px 5px 5px #42270066, inset -5px -5px 5px #42270066;
    /*used https://hslpicker.com/ to soften the colour of the shadow (Very cool website)*/
    border-radius: 15px 0 0 15px;
    size: 100%;

}

/*display: inline-block;*/
.mainNav {
    background-color: #d4c1c1;
    display: flex;
    align-items: end;
    box-shadow: inset 5px 5px 5px #42270066, inset -5px -5px 5px #42270066;
    /*used https://hslpicker.com/ to soften the colour of the shadow (Very cool website)*/
    flex-direction: column;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 80px;

    
}

.navButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.button {
    background-color: #fbeee0;
    border: 2px solid #42270066;
    border-radius: 30px;
    box-shadow: #42270066 4px 4px 0 0;
    color: #42270066;
    cursor: pointer;
    display: inline-block;
    padding: 4px 18px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-right: 2%;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    /* this -select controls the look of the button*/
    user-select: none;
    /* this -select that follows specifies whether the text of an element can be selected or not*/
    -webkit-user-select: none;
    touch-action: manipulation; 
}

.button_img {
    position: relative;
    text-decoration: none;

}

.button:hover {
    background-color: #fff;
}

.button:active {
    box-shadow: #422700bb 2px 2px 0 0;
    transform: translate(2px, 2px);
    -webkit-transition: background-color 3s ease-in;
    /* to support Safari */
    transition: background-color 3s ease-in;
}

/* @media will assist with the compatibility on molibe devices, laptops and tablets */
@media (min-width: 640px) {
    .button-74 {
        padding: 0 25px;
    }
}

.button_img {
    position: relative;
    text-decoration: none;

}

.button:hover {
    background-color: #fff;

}

.button:active {
    box-shadow: #4227009d 2px 2px 0 0;
    transform: translate(2px, 2px);
    -webkit-transition: background-color 4s ease-in;
    /* to support Safari */
    transition: background-color 4s ease-in;
}