@media screen and (max-width: 600px) {
    .main {
        display: flex;
        flex-direction: ;
        /* main layout flip*/
    }


    /* buttons layout flip*/

    .navButtons {
        display: none !important;
        flex-direction: column;

    }

    .dropDown {
        display: block !important;
    }

    
}


.dropDown {
    display: none;

}
