/* buttons layout change for mobile*/
.dropDown {
    /*This dropdown must not display untill the screen is viewed on smaller then 500px*/
    display: none;
}

@media screen and (max-width: 680px) {

    .mainNav {
        height: 80px;
    }

    .mainPageInfo {
        display: flex;
    }

    .themeSwitch {
        position: absolute;
        top: 25%;
        left: 5%;
        transition: 3s;
    }

    .navButtons {
        width: 100%;
        display: none !important;
    }

    /* Show dropdown when screen is small */
    .dropDown {
        display: contents;
    }

    .timeLineYearCell p {
        font-size: 3rem;
    }

    .timeLineInfoCell {
        padding: 5px;
        font-size: medium;
    }
}

/*Only buttons need to be in media queries*/
.dropDown-content {
    display: none;
}

.dropDown-content-active {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--body-color);
    z-index: 3;
}

.dropbtn svg {
    fill: var(--primary-text);
}

.dropDown--item {
    padding: 10px;
    color: var(--primary-text);
    font-size: large;
}

.dropbtn {
    padding-top: 2.5px;
}

.dropclosebtn { /*this is a small cross button I used for the dropdown page for an exit option*/
    position: fixed;
    top: 10px;
    right: 10px;
}