    /* buttons layout change for mobile*/
.dropDown { /*This dropdown must not display untill the screen is viewed on smaller then 600px*/
    display: flex;
    display: none;
}

@media screen and (min-width:500px) {

}

@media screen and (max-width: 650px) {
    
    .mainNav {  
        display: none !important;

    }

    .mainPageInfo {
        display: flex;
        
    }

    .button {
        display: flex;


    }
    .navButtons {
        width: 100%;
        display: none;
    }

    .dropDown {
        display: flex;
        display: none;
    }

    .dropDown--units a {
        text-decoration: none;
    }

    /* .dropDown-content {
        display:flex;
        
    }



    .dropDown {
    
    }
    
    .dropDown--units {
        text-decoration: none;
    } */
    



}



/* FULLSCREEN NAV & ITEMS - END */

/* .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }



    .dropDown { /* found the !important function which is very usefull 
        display: inline-block !important;
        position: relative;
        background-color: rgb(250, 219, 223);
        border-radius: 15%;
        border-top-right-radius: 40%;
       
    }
    
    .dropDown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropDown-content a:active {background-color: #f1f1f1}

    .dropDown:active .dropDown-content {
        display: block;
        
    }

    .dropDown:active .dropbtn {
        background-color: #3e8e41;
      }
    */

/* @media will assist with the compatibility on molibe devices, laptops and tablets */