
.themeSwitch {
    display: flex;
    position: fixed;
    top: 20px;
    left: 20px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.themeSwitch i {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    line-height: 25px;

}


.root {

}

.darkMode {

}